<!-- <div *ngIf="competitions?.length; else noCompetitions">
  <span *ngFor="let comp of competitions; let i = index">
    {{ comp.name || comp.competitionName }}
    <span *ngIf="i < competitions.length - 1">, </span>
  </span>
</div>
<ng-template #noCompetitions>
  <span>No competitions.</span>
</ng-template> -->


<div *ngIf="competitions?.length; else noCompetitions">
  <ng-container *ngFor="let comp of competitions; let i = index">
    <app-competition [competition]="comp"></app-competition>
    <span *ngIf="i < competitions.length - 1">, </span>
  </ng-container>
</div>

<ng-template #noCompetitions>
  <span>No competitions.</span>
</ng-template>

